.ready {
  overflow-x: hidden;
  background-color: #f9f3ff;
  .ready__div {
    width: 100vw;
    margin: 0;
    display: grid;
    place-items: center;
    .ready__div__container {
      width: 90%;
      display: grid;
      place-items: center;
      .ready__div__container__title {
        margin-top: 60px;
        margin-bottom: 60px;
      }
      .ready__div__container__cardHolder {
        display: grid;
        place-items: center;
        width: 100%;
        .ready__div__container__cardHolder__container {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-evenly;

          row-gap: 30px;
          column-gap: 1.5vw;
        }
        .ready__div__container__cardHolder__container::after {
          content: "";
          width: 350px;
        }
      }
      .ready__div__container__button {
        padding-top: 100px;
        padding-bottom: 100px;
      }
    }
  }
  .ready__recruitment {
    width: 100vw;
    .ready__recruitment__titleContainer {
      display: grid;
      place-items: center;
    }
    .ready__recruitment__cardsContainer {
      display: grid;
      place-items: center;
      width: 100%;
      padding-bottom: 50px;
      .ready__recruitment__cardsContainer__div {
        width: 95%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        row-gap: 50px;
        column-gap: 15px;
      }
    }
  }
}

@media screen and (max-width: 780px) {
  .ready {
    .ready__div {
      .ready__div__container {
        width: 100%;
        .ready__div__container__title {
        }
        .ready__div__container__cardHolder {
          .ready__div__container__cardHolder__container {
            display: flex;
            flex-wrap: wrap;
            row-gap: 30px;
            column-gap: 1.5vw;
            justify-content: space-evenly;
          }
        }
        .ready__div__container__button {
          padding-top: 100px;
          padding-bottom: 100px;
        }
      }
    }
    .ready__recruitment {
      width: 100vw;
      .ready__recruitment__titleContainer {
        display: grid;
        place-items: center;
      }
      .ready__recruitment__cardsContainer {
        display: grid;
        place-items: center;
        width: 100%;
        padding-bottom: 50px;
        .ready__recruitment__cardsContainer__div {
          width: 95%;
          display: flex;
          flex-wrap: wrap;
          row-gap: 50px;
          column-gap: 15px;
        }
      }
    }
  }
}
