.customer {
  width: 100vw;
  display: grid;
  place-items: center;
  .customer__div {
    width: 70%;
    height: 234px;
    background: linear-gradient(
      266.61deg,
      #2a165a -56.6%,
      #12105c -56.58%,
      #4f3376 103.93%
    );
    border-radius: 20px;
    position: relative;
    overflow: hidden !important;
    .customer__div__container {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      .customer__div__spanContainer {
        position: absolute;
        height: 100%;
        .customer__div__one {
          position: relative;
          display: block;
          top: -15%;
          left: -235px;
          width: 319px;
          height: 319px;
          border-radius: 50%;
          background: linear-gradient(
            180deg,
            rgba(214, 239, 248, 0.153) 15.67%,
            rgba(214, 239, 248, 0) 115.67%
          );
        }
      }
      .customer__div__spanContainer2 {
        position: absolute;
        height: 100%;
        width: 100%;
        .customer__div__two {
          position: relative;
          display: block;
          top: 25%;
          left: 40%;
          width: 170px;
          height: 170px;
          border-radius: 50%;
          background: linear-gradient(
            180deg,
            rgba(214, 239, 248, 0.153) 15.67%,
            rgba(214, 239, 248, 0) 115.67%
          );
        }
      }
    }
    .customer__div__infoContainer {
      z-index: 2;
      width: 70vw;
      height: 100%;
      display: grid;
      place-items: center;
      color: white;
      .customer__div__infoContainer__div {
        width: 70%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 20px;
        justify-content: space-between;
        align-content: space-between;
        .customer__div__infoContainer1 {
          .customer__div__infoContainer1__num {
            font-size: 64px;
            margin: 0;
            margin-bottom: 10px;
          }
          .customer__div__infoContainer1__txt {
            font-weight: 300;
          }
        }
        .customer__div__infoContainer2 {
          .customer__div__infoContainer2__num {
            font-size: 64px;
            margin: 0;
            margin-bottom: 10px;
          }
          .customer__div__infoContainer2__txt {
            font-weight: 300;
          }
        }
        .customer__div__infoContainer3 {
          .customer__div__infoContainer3__num {
            font-size: 64px;
            margin: 0;
            margin-bottom: 10px;
          }
          .customer__div__infoContainer3__txt {
            font-weight: 300;
          }
        }
        .customer__div__infoContainer4 {
          .customer__div__infoContainer4__num {
            font-size: 64px;
            margin: 0;
            margin-bottom: 10px;
          }
          .customer__div__infoContainer4__txt {
            font-weight: 300;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .customer {
    .customer__div {
      .customer__div__infoContainer {
        .customer__div__infoContainer__div {
          width: 85%;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          row-gap: 20px;
          justify-content: safe;
          align-content: space-around;
          .customer__div__infoContainer1 {
            font-size: 12px;
            .customer__div__infoContainer1__num {
              font-size: 40px;
              margin-bottom: 5px;
            }
          }
          .customer__div__infoContainer2 {
            font-size: 12px;
            .customer__div__infoContainer2__num {
              font-size: 40px;
              margin-bottom: 5px;
            }
          }
          .customer__div__infoContainer3 {
            font-size: 12px;
            .customer__div__infoContainer3__num {
              font-size: 40px;
              margin-bottom: 5px;
            }
          }
          .customer__div__infoContainer4 {
            font-size: 12px;
            .customer__div__infoContainer4__num {
              font-size: 40px;
              margin-bottom: 5px;
            }
          }
        }
      }
    }
  }
}
