.ReadyCard {
  width: 346px;
  height: 168px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  display: grid;
  place-items: center;
  .ReadyCard__div {
    width: 80%;
    .ReadyCard__div__title {
      display: flex;
      .ReadyCard__div__title__txt {
        color: #753bbd;
        font-weight: 500;
        font-size: 20px;
      }
      .ReadyCard__div__title__intern {
        color: #767683;
      }
    }
    .ReadyCard__div__txt {
      padding-top: 8px;
      display: flex;
      font-size: 12px;
      .ReadyCard__div__txt__name {
        color: black;
      }
      .ReadyCard__div__txt__time {
        color: #767683;
        font-size: 10px;
      }
    }
    .ReadyCard__div__button {
      margin-top: 20px;
    }
  }
}
